.jumbo._dark(style="font-size: 1.2rem; color:white")
  p
    span &#x1F4AA; Powered by
    br
    a(href="https://nem.io/catapult/", target="_blank") NEM - Distributed Ledger Technology (Blockchain) Catapult
    br
    a(href="https://github.com/nemtech/nem2-sdk-typescript-javascript", target="_blank") nem2-sdk official for typescript & javascript
    br
    a(href="http://beauter.outboxcraft.com/", target="_blank") Beauter - A simple framework for faster and beautiful responsive site
    br
    a(href="https://github.com/44uk/nem2-faucet", target="_blank") Faucet application for nem2 (catapult)

  p
    a(href="https://twitter.com/44uk_i3", target="_blank") @44uk_i3
