ul.topnav
  li
    a.brand(href="/" title="NEM Testnet Faucet")
      img.nemlogo(src="/images/nem_logo.svg" width="16" height="16")
      span(style="margin-left:0.5rem") NEM2 Faucet
      span(style="margin-left:0.5rem;font-size:75%") ( #{mosaicFqn} )
