extends layout

block content
  .container
    .row
      .col.m12
        .alert._danger
          if errorBody
            span= `${errorBody.code}: ${errorBody.message}`
          else
            span= message
    .row
      .col
        div
          h3 Something went wrong.
          img(src="/images/computer_error_bluescreen.png")
          p Try that again, and if it still doesn't work, please inform system admin.
