@keyframes spin {
    0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

.brand:hover .nemlogo
  animation: spin 0.25s linear infinite

input[disabled], button[disabled]
  cursor: not-allowed
  opacity: .6
  color: #555
  border: 1px solid #ccc
  background-color: #eee
