.footer
  padding: 2rem 1.5rem 3.5rem
.notices .snackbar
  max-width: 82.5%;
.content p:not(:last-child), .content dl:not(:last-child), .content ol:not(:last-child), .content ul:not(:last-child), .content blockquote:not(:last-child), .content pre:not(:last-child), .content table:not(:last-child)
  margin-bottom: 0.75em
.columns:not(:last-child)
  margin-bottom: .5rem
.columns
  margin-left: -.5rem
  margin-right: -.5rem
  margin-top: -.5rem
.column
  padding: .5rem
