body, button, input, select, textarea
  font-family: Noto Sans, sans-serif;
.symbolNav
  background: #44004E
.symbolNav .navbar-item
  color: white
.symbolNav .navbar-item img
  max-height: 2.75rem
.symbol-button
  background-color: #FF9600 !important
a
  color: #FF9600 !important