body, button, input, select, textarea
  font-family: Noto Sans, sans-serif
.symbolNav
  background: linear-gradient(120deg, #5200c6 0%, #44004e 100%)
.symbolNav::before
  content: ''
  background-image: url(../images/logo_bkg.png)
  position: absolute
  z-index: 0
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-repeat: no-repeat
  background-size: 100%
.symbolNav .navbar-item
  color: white
.symbolNav .navbar-item img
  max-height: 2.75rem
.symbol-button
  border: 1px solid #44004e !important
  background: #00000000 !important
  color: #44004e !important
a
  color: #44004e !important
.symbolFooter
  background: #410078
  padding: 20px 50px 20px 0
  width: 100%
  position: relative

.symbolFooter a, .symbolFooter h4
  color: #fff !important
  position: relative

.symbolFooter::before
  content: ''
  background-image: url(../images/symbol_connector_bkg.jpg)
  position: absolute
  z-index: 0
  right: 0
  bottom: 0
  width: 100%
  height: 100%
  background-repeat: no-repeat
  background-size: auto 130%
  background-position-x: left

